body {
    font-family: sans-serif;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 40%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f0f0f0; 
}

tr:hover {
    background-color: #ddd;
}

#tourDetails {
    border: 1px solid black;
    padding: 10px;
    width: 20%;
    margin-top: 20px;
    line-height: 1.5;
}

form {
    margin-top: 20px;
    width: 40%;
}

form label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

form input, form textarea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    font-size: 1em;
}
#tourForm {
    border: 1px solid black; 
    padding: 10px;
}


